<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>a</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.6/vue-router.global.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"></script>
</head>

<body class="has-background-white-bis" id="appBody">
  <div id="app">
    <router-view></router-view>
  </div>
</body>

<script type="text/plain" id="appTitle">app</script>
<script type="text/plain" id="botIcon">🐧</script>
<script type="text/plain" id="botName">Penguin</script>

<script type="application/json" id="scenario">
  [
    {
      "id": "welcome", "from": "bot", "time": "", "message": "a",
      "title": "", "memo": "", "tag": [], "selectbtn": "", "desc": "",
      "select": [
        { "btn": "aaaaaa", "next": "" },
        { "btn": "aaaaa", "next": "welcome" }
      ]
    }
  ]
</script>

<script type="module" id="appModule">

  document.title = document.getElementById("appTitle").textContent

  const { createRouter, createWebHashHistory } = VueRouter
  const { createApp } = Vue

  function nowdt() {
    var now = new Date()
    var Month = ("00" + (now.getMonth() + 1)).substr(-2)
    var Da = ("00" + now.getDate()).substr(-2)
    var Hour = ("00" + now.getHours()).substr(-2)
    var Min = ("00" + now.getMinutes()).substr(-2)
    var Sec = ("00" + now.getSeconds()).substr(-2)
    return now.getFullYear() + "/" + Month + "/" + Da + " " + Hour + ":" + Min
  }

  const group = {
    groupKeys: function (i) {
      const keys = Object.keys(i)
      keys.sort().reverse()
      return keys
    },
    groupBy: function (array, key) {
      const groups = {};
      array.forEach(function (item) {
        if (!(item[key] in groups)) groups[item[key]] = [];
        groups[item[key]].push(item);
      })
      return groups
    },
  }

  const base = {
    base: () => {
      var aa = crypto.randomUUID() + ""
      aa = aa.substr(-12)
      return {
        "id": aa, "from": "bot", "time": "", "message": "",
        "title": null, "memo": null, "tag": [], "selectbtn": "", "desc": null,
        "select": []
      }
    },
    select: () => {
      return { "btn": "", "next": "" }
    }
  }

  const app = createApp()

  const homeComponent = {
    template: `
      <div class="is-flex is-flex-direction-column mx-auto" style="height: 100vh; width: 500px;">
        <div class="has-background-link has-text-white px-3 py-2">{{appTitle}}</div>
        <div class="has-background-link-light is-flex-grow-1 px-3 pt-2" style="overflow-y:auto;">
          <div v-for="i, index in list" class="mt-1">
            <div v-if="i.from !== 'me'" class="is-flex">
              <div class="button has-background-info is-rounded is-size-5 p-0" style="height: 40px; width: 40px;">
                {{botIcon}}
              </div>
              <div class="ml-2 mb-2">
                <div class="mb-2 is-size-7">{{botName}}</div>
                <div class="card px-4 py-3">{{i.message}}
                  <div>{{i.desc}}</div>
                  <div v-if="i.select.length !== 0" class="mt-2">
                    <button class="button is-link is-rounded m-1" v-for="t in i.select"
                    @click="next(t.next, t.btn)">{{t.btn}}</button>
                  </div>
                </div>
                <div class="mt-2 is-size-7">{{i.time}}</div>
              </div>
            </div>
            <div v-if="i.from == 'me'" class="is-flex">
              <div class="ml-auto mb-2 mr-2">
                <div class="card has-background-primary-dark has-text-white px-4 py-3">{{i.message}}
                </div>
                <div class="mt-2 is-size-7">{{i.time}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="py-1">
          <input class="input is-rounded" type="text">
        </div> -->
      </div>
    `,
    data() {
      return {
        list: [], appTitle: document.getElementById("appTitle").textContent,
        botIcon: document.getElementById("botIcon").textContent,
        botName: document.getElementById("botName").textContent
      }
    },
    created: function () {
      this.reset()
    },
    methods: {
      all: function () {
        return JSON.parse(document.getElementById("scenario").textContent)
      },
      reset: function () {
        this.list = []
        var $this = this
        this.list.push($this.all().filter((i) => i.id == "welcome")[0])
      },
      next: function (id, select) {
        var me = base.base()
        me.id = ""
        me.from = "me"
        me.message = select
        var $this = this
        this.list[this.list.length - 1].select = []
        setTimeout(function () {
          $this.list.push(me)
          setTimeout(function () {
            $this.list.push($this.all().filter((i) => i.id == id)[0])
          }, 400)
        }, 400)
      }
    }
  }

  const flowComponent = {
    template: `
      <div class="is-flex is-flex-direction-column mx-auto p-3" style="height: 100vh;">
        <div class="card mb-3">
          <header class="card-header">
            <p class="card-header-title">
              {{appTitle}}
            </p>
            <button class="card-header-icon" @click="reset">reset</button>
          </header>
        </div>
        <div class="card mb-3" v-for="i, index in list"
          :class="(index == list.length - 1) ? 'has-background-warning-light' : '' ">
          <header class="card-header">
            <p class="card-header-title">
              {{i.message}}
            </p>
          </header>
          <div class="card-content px-3 pt-3 pb-0 mt-1" v-if="i.desc !== null && i.desc !== ''">
            {{i.desc}}
          </div>
          <div class="card-content p-3">
            <button class="button m-1" v-for="t in i.select"
              :class="(i.selectbtn == t.btn) ? 'is-link' : ''"
              @click="i.selectbtn = t.btn; next(t.next, t.btn); list.splice(index + 1, list.length - 1);">{{t.btn}}</button>
          </div>
        </div>
      </div>
    `,
    data() {
      return {
        list: [], appTitle: document.getElementById("appTitle").textContent,
        botIcon: document.getElementById("botIcon").textContent,
        botName: document.getElementById("botName").textContent
      }
    },
    created: function () {
      this.reset()
    },
    methods: {
      all: function () {
        return JSON.parse(document.getElementById("scenario").textContent)
      },
      reset: function () {
        this.list = []
        var $this = this
        this.list.push($this.all().filter((i) => i.id == "welcome")[0])
      },
      next: function (id, select) {
        var $this = this
        setTimeout(function () {
          $this.list.push($this.all().filter((i) => i.id == id)[0])
        }, 400)
      }
    }
  }


  const adminComponent = {
    template: `
      <div class="is-flex is-flex-direction-column p-3" style="height: 100vh;">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Admin Panel
            </p>
            <button class="card-header-icon" popovertarget="appInfo">i</button>
            <button class="card-header-icon" aria-label="more options" @click="save">
              💾
            </button>
          </header>
        </div>
        <div class="is-flex-grow-1 mt-3" style="overflow-y: auto;">
          <table class="table is-fullwidth is-hoverable" style="background: none;">
            <thead>
              <tr>
                <th>ID</th>
                <th>title</th>
                <th>memo</th>
                <th><button class="button is-small" @click="add">add</button></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i, index in list">
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.memo}}</td>
                <td>
                  <button class="button is-small mr-1" :popovertarget="'popover' + i.id">edit</button>
                  <button class="button is-small" v-if="i.id !== 'welcome'" @click="list.splice(index, 1)">del</button>
                </td>
                <div popover :id="'popover' + i.id" style="border: 0; background: none;">
                  <article class="panel is-link has-background-light" style="width: 1000px;">
                    <div class="panel-heading is-flex">
                      <div class="is-flex-grow-1">{{i.id}}</div>
                      <div><button class="delete" :popovertarget="'popover' + i.id" popovertargetaction="hidden"></button></div>
                    </div>
                    <div class="columns mx-0">
                      <div class="column">
                        <div class="panel-block">
                          <div class="field is-horizontal" style="width: 100%;">
                            <div class="field-label is-normal">
                              <label class="label">title</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <input class="input is-fullwidth" type="text" v-model="i.title">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-block">
                          <div class="field is-horizontal" style="width: 100%;">
                            <div class="field-label is-normal">
                              <label class="label">memo</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <input class="input is-fullwidth" type="text" v-model="i.memo">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-block">
                          <div class="field is-horizontal" style="width: 100%;">
                            <div class="field-label is-normal">
                              <label class="label">message</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <textarea class="textarea" v-model="i.message"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-block">
                          <div class="field is-horizontal" style="width: 100%;">
                            <div class="field-label is-normal">
                              <label class="label">description</label>
                            </div>
                            <div class="field-body">
                              <div class="field">
                                <textarea class="textarea" v-model="i.desc"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="column" style="height: 80vh; overflow-y: auto;">
                        <table class="table is-fullwidth" style="background: none;">
                          <thead>
                            <tr>
                              <th>btn</th>
                              <th>next</th>
                              <th><button class="button is-small" @click="i.select.push(addSelect())">add</button></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="e, ndex in i.select">
                              <td><input class="input is-fullwidth" type="text" v-model="e.btn"></td>
                              <td>
                                <div class="select" style="width:240px;">
                                  <select v-model="e.next" style="width: 100%;">
                                    <option v-for="t in list" :value="t.id">{{t.title}} (#{{t.id}})</option>
                                  </select>
                                </div>
                              </td>
                              <td><button class="button" @click="i.select.splice(ndex, 1)">del</button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class=""></div>
                  </article>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div popover id="appInfo" style="border: 0; background: none;">
        <article class="panel is-primary has-background-light" style="width: 500px; height: 50vh;">
          <div class="panel-heading is-flex">
            <div class="is-flex-grow-1">settings</div>
            <div><button class="delete" popovertarget="appInfo" popovertargetaction="hidden"></button></div>
          </div>
          <div class="panel-block">
            <div class="field is-horizontal" style="width: 100%;">
              <div class="field-label is-normal">
                <label class="label">appTitle</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <input class="input is-fullwidth" type="text" v-model="appTitle">
                </div>
              </div>
            </div>
          </div>
          <div class="panel-block">
            <div class="field is-horizontal" style="width: 100%;">
              <div class="field-label is-normal">
                <label class="label">botIcon</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <input class="input is-fullwidth" type="text" v-model="botIcon">
                </div>
              </div>
            </div>
          </div>
          <div class="panel-block">
            <div class="field is-horizontal" style="width: 100%;">
              <div class="field-label is-normal">
                <label class="label">botName</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <input class="input is-fullwidth" type="text" v-model="botName">
                </div>
              </div>
            </div>
          </div>
          <div class="panel-block">
            version 0.1
          </div>
        </article>
      </div>
    `,
    data() {
      return {
        list: [], appTitle: document.getElementById("appTitle").textContent,
        botIcon: document.getElementById("botIcon").textContent,
        botName: document.getElementById("botName").textContent
      }
    },
    created: function () {
      this.list = JSON.parse(document.getElementById("scenario").textContent)
    },
    methods: {
      save: function () {
        document.getElementById("scenario").textContent = JSON.stringify(this.list)
        document.getElementById("appTitle").textContent = this.appTitle
        document.getElementById("botIcon").textContent = this.botIcon
        document.getElementById("botName").textContent = this.botName
        var htmlText = `
<!DOCTYPE html>
<html lang="ja">

`
        htmlText += document.getElementsByTagName("head")[0].outerHTML
        htmlText += `

<body>
  <div id="app">
    <router-view></router-view>
  </div>
</body>

`
        htmlText += document.getElementById("appTitle").outerHTML
        htmlText += `
`
        htmlText += document.getElementById("botIcon").outerHTML
        htmlText += `
`
        htmlText += document.getElementById("botName").outerHTML
        htmlText += `
`
        htmlText += document.getElementById("scenario").outerHTML
        htmlText += `
`
        htmlText += document.getElementById("appModule").outerHTML
        htmlText += `
</html>`
        const blob = new Blob([htmlText], { type: "text/plain" })
        const link = document.createElement("a")
        link.href = URL.createObjectURL(blob)
        link.download = "download.html"
        link.click()
        URL.revokeObjectURL(link.href)
      },
      add: function () {
        this.list.push(base.base())
      },
      addSelect: function () {
        return base.select()
      }
    }
  }

  const router = createRouter({
    history: createWebHashHistory(),
    routes: [
      { path: '/', component: homeComponent },
      { path: '/flow', component: flowComponent },
      { path: '/admin', component: adminComponent },
    ],
  })

  app.use(router)

  app.mount('#app')

</script>

</html>